<!DOCTYPE <!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lessons</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div id="page">
        <!--Lesson page-->
        <section v-if="currentp === 'lessons'">
            <!--Sorting-->
            <section class="Sorting">
                <select v-model="sortBy">
                <option value="price">Price</option>
                <option value="space">Space</option>
                <option value="location">Location</option>
                <option value="topic">Topic</option>
            </select>
                <!--Sorting order by either ascending or descending-->>
                <select v-model="sortopt">
                <option value="asc">ASC</option>
                <option value="des">DES</option>
            </select>
                <input placeholder="Type to search Lesson" class="search" v-model="searchL">
            </section>

            <!--setting up the lessons-->
            <section class="lesson-setup">
                <!--individual lesson setups-->
                <div class="lesson-list" v-if="sortedLessons.length">
                    <article v-for="(lesson, index) in sortedLessons" :key="lesson.id" class="lesson">
                        <div class="lesson-left">

                        </div>
                    </article>>
                </div>
            </section>
        </section>







    </div>


</body>

</html>>